@tailwind base;
@tailwind components;


:root{
  --r-yellow:#E1B168;
  --deepblack:#21252c;
  --trans-black:#292e367e;
  --light-black:#555555;
  --deeprblack:#343942;
  --white-text:#DEDEDE;
  --r-pink:#FFF8F5;
}

.tophero-shadow{
  box-shadow: 0px 16px  16px var(--trans-black);
}

.roundShadow{
  box-shadow: 0px 0px 3px var(--white-text);
}
.ptext{
  @apply text-sm text-base-text font-josefin font-normal
}
:root{
  @apply text-base md:text-lg text-base-text font-josefin
}
.cont{
  @apply px-3 sm:px-5 md:px-4 lg:px-12
}
.removecont{
  @apply -mx-3 sm:-mx-3 md:-mx-4 lg:-mx-12
}
.welcome-text{
  @apply text-5xl sm:text-6xl md:text-5xl lg:text-[70px] lg:leading-[77.1px]
}
.h3text{
  @apply font-infant text-h1-text text-lg font-[700] mb-1
}

.h4text{
  @apply font-infant text-deeprblack text-[17px] leading-[26px] mb-1 font-[700]
}
.toggler{
  @apply bg-white-text h-[4px] w-full inline-block
}
.dots{
  @apply before:absolute before:-left-[2px] before:-bottom-[2px] before:h-[4px] before:w-[4px] before:rounded-full before:bg-[#c9bfbf] after:absolute after:-right-[2px] after:-bottom-[2px] after:h-[4px] after:w-[4px] after:rounded-full after:bg-[#c9bfbf]
}
@tailwind utilities;